.profile-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
   // min-height: 100vh;
   
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.user-info-container span {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CAF50;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.notification-icon {
    width: 30px;
    height: 30px;
    fill: #4CAF50;
    transition: fill 0.3s ease;
}

.notification-icon:hover {
    fill: #FF5722;
}


@media (max-width: 430px){
    .profile-container {
        padding: 1rem;
    }

    .user-profile {
       
        // flex-direction: column; /* Stack the items vertically */
        width: 100%; /* Full width */
        padding: 1rem;
    }

    .user-info-container span {
        font-size: 1rem; /* Reduce font size for small screens */
        margin-bottom: 0.3rem;
    }

    .image-container img {
        width: 80px; /* Smaller image size */
        height: 80px;
    }

    .icon-container {
        margin-left: 0; /* Remove margin for smaller layout */
        margin-top: 1rem; /* Add space above the icon */
        
    }

    .notification-icon {

        
        width: 25px; /* Smaller icon size */
        height: 25px;
    }
}

@media (min-width: 430px){
    .profile-container {
        padding: 1rem;
    }

    .user-profile {
       
        // flex-direction: column; /* Stack the items vertically */
        width: 100%; /* Full width */
        padding: 1rem;
    }

    .user-info-container span {
        font-size: 1rem; /* Reduce font size for small screens */
        margin-bottom: 0.3rem;
    }

    .image-container img {
        width: 80px; /* Smaller image size */
        height: 80px;
    }

    .icon-container {
        margin-left: 0; /* Remove margin for smaller layout */
        margin-top: 1rem; /* Add space above the icon */
        
    }

    .notification-icon {

        
        width: 25px; /* Smaller icon size */
        height: 25px;
    }
}